/* home component */
.catchThemAll {
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
  border-radius: 20px;
}

h1 {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffde00;
  cursor: pointer;
}

.login-logout {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-family: sans-serif;
  color: white;
}

p:hover {
  color: #ffde00;
  cursor: pointer;
}

nav,
a {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16pt;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

nav,
a:hover {
  color: #ffde00;
  cursor: pointer;
}
