h1 {
  font-family: "Pokemon Solid", sans-serif;
}

.h2 {
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 4px;
}

.login-logout {
  font-family: "Pokemon Solid", sans-serif;
  color: #ffde00;
}
