/*pokemon component*/
.pokemon-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: #3b4cca;
  border: 5px solid #ffde00;
  border-radius: 50px;
  margin-bottom: 20px;
}

/*mainPokemon component*/
.our-pokemon {
  background-image: url("/images/sky.jpg");
  background-repeat: no-repeat;
  border: 2px solid #ffde00;
  width: 300px;
  height: 400px;
  display: block;
  padding: 90px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 25px;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  font-size: 22pt;
}

.pokemon-image {
  width: 100%;
}

.seeDetails {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: #3b4cca;
  color: white;
}

.seeDetails:hover {
  color: #ffde00;
  cursor: pointer;
}
