/*pokemon component*/
.pokemon-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: #3b4cca;
  border: 5px solid #ffde00;
  border-radius: 50px;
  margin-bottom: 20px;
}

/*mainPokemon component*/
.our-pokemon {
  background-color: white;
  border: 2px solid #ffde00;
  width: 420px;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 25px;
}
