/*search bar*/
.searchBar {
  margin-top: 40px;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 160px;
}

input {
  border-radius: 20px;
  font-size: 14pt;
  padding: 10px;
  outline: none;
  border-color: #ffde00;
  caret-color: 3b4cca;
  font-family: monospace;
}
