@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("./sky.jpg");
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.animate-360 {
  animation: spin 5s linear infinite;
}

.bg-single {
  background-image: linear-gradient(#ffff, #3b4cca, white);
}
